<div class="aboutme">
	<h1>About Me</h1>

	<div class="container">
		<p>I just complete one year in an internship in the City Council of Valencia (Spain). Before this I earned my degree in Bachelor of Computer Science from the Technical University of Valencia. My last year of studies (2009-2010) was spent in Poland under the Erasmus Program to study abroad with a learning agreement between my home faculty and the International Faculty of Engineering of the Technical University of Lodz.</p>

		<p>If you’d like to see some more academic and other information, you can download my CV / resume <a class="link" href="/assets/docs/CurriculumVitae_HelenaMorenoChacon.pdf">here</a>.</p>


	</div>
</div>

<p class="shadow"></p>