<div id="aboutme">
	<h1><%=t :aboutme_section %></h1>

	<div id="aboutbox">
		<p class="eng">I’m Helena Moreno Chacón, a web designer &amp; developer born in Toledo. I spent one year living in Poland under the <em>Erasmus Program</em>, but currently I'm living in Valencia, Spain.</p>
		
		<p class="eng">Although I was graduated in <strong>Bachelor of Computer Science</strong>, I mostly enjoy on designing and developing small to medium-sized websites.
		That’s why I love using <strong>html5</strong>, <strong>CSS3</strong>, <strong>jQuery</strong> and <strong>Ruby on Rails framework</strong> to develop my projects, and to continue learning new technologies. Also It’s important for me a code that follows <strong>W3C web standards</strong> (valid and semantic) and <strong>SEO optimized</strong>.</p>

		
		<%= image_tag "/assets/elements/helena.jpg", :alt => "My photo", :id => "myphoto" %>	
		
		<p id="more">When I am not developing a website, I like to learn languages, meeting with my friends, reading a book (my favorite book is <em>The Eight</em>). 
		Also I enjoy a lot watching some movies or series, and planning the next trip... I love travel!
		</p>
		
		<p class="eng">If you want to know more academic details and others, you can <a class="link" href="/assets/docs/CurriculumVitae_HelenaMorenoChacon.pdf">download my CV</a>, or you can find me on <a href="http://www.linkedin.com/in/helenamorenochacon"><img id="lkdn" src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.gif"  alt="View Helena Moreno Chacon's profile on LinkedIn"></a>.</p>
		
	</div>
</div>

<p class="shadow"></p>