<div id="aboutme">
	<h1>About Me</h1>

	<div id="aboutbox">
		<p>Soy Helena Moreno Chacón, una diseñadora y desarrolladora web nacida en Toledo. Pasé un año entero viviendo en Polonia bajo el  <em>Programa Erasmus</em>, pero actualmente estoy viviendo en Valencia, España.</p>
		
		<p>Aunque me gradué como <strong>Ingeniero Técnico en Informática de Gestión</strong>, lo que más me gusta es diseñar y desarrollar sitios web pequeños y medianos.
		Por eso me encanta aprender y usar <strong>html5</strong>, <strong>CSS3</strong>, <strong>jQuery</strong> y el <strong>framework Ruby on Rails</strong>. También es muy importante para mí que el código siga los <strong>estándares web de W3C </strong> (válido y semántico) y <strong>SEO optimizado</strong>.</p>
		<p>Si quieres saber más detalles académicos y otros, puedes<a class="link" href="/assets/docs/CurriculumVitae_HelenaMorenoChacon.pdf"> descargar mi CV</a>.</p>
		
		<%= image_tag "/assets/elements/helena.jpg", :alt => "Mi foto" %>		
		
		<p id="more">Cuando no estoy desarrollando un sitio web, I me gusta mucho aprender idiomas, quedar con mis amigos, leer algún libro (mi favorito es <em>El Ocho</em>). 
		También me gusta ver películas y series, y planear el siguiente viaje... ¡me encanta viajar!
		</p>

	</div>
</div>

<p class="shadow"></p>