<div id="aboutme">
	<h1>About Me</h1>

	<div id="aboutbox">
		<p>I’m Helena Moreno Chacón, a web designer &amp; developer born in Toledo and currently living in Valencia, Spain.</p>
		<p>Although I was graduated in Bachelor of Computer Science, I mostly enjoy on designing and developing small to medium-sized websites.
		That’s why I love html, css, Ruby on Rails framework. Also It’s important for me a code that follows W3C web standards (valid and semantic) and SEO optimized.</p>
		<p>If you want to know more academic details and others, you can <a class="link" href="/assets/docs/CurriculumVitae_HelenaMorenoChacon.pdf">download my CV</a>.</p>
		
		<%= image_tag "/assets/elements/helena.jpg" %>
		
		<p id="more">When I am not developing a website, I like to learn languages, meeting with my friends, reading a book (my favorite book is The Eight). 
		Also I enjoy a lot watching some movies or series, and planning the next trip... I love travel!
		</p>
		

	</div>
</div>

<p class="shadow"></p>