<section id="aboutme">
	<h1><%=t :aboutme_section %></h1>

	<div id="aboutbox">
		<p class="es">Soy Helena Moreno Chacón, desarrolladora y diseñadora web nacida en Toledo. Pasé un año entero viviendo en Polonia con el <em>Programa Erasmus</em>, pero actualmente vivo en Valencia, España.</p>
		
		<p class="es">Aunque me gradué como <strong>Ingeniero Técnico en Informática de Gestión</strong>, lo que más me gusta es diseñar y desarrollar sitios web pequeños y medianos.
		Por eso me encanta utilizar <strong>html5</strong>, <strong>CSS3</strong>, <strong>jQuery</strong> y el <strong>framework Ruby on Rails</strong> para desarrollar mis proyectos, y seguir aprendiendo nuevas tecnologías. También es muy importante para mí que el código siga los <strong>estándares web de W3C </strong> (que sea válido y semántico) y esté <strong>SEO optimizado</strong>.</p>
		
		<%= image_tag "/assets/elements/helena.jpg", :alt => "Mi foto", :id => "myphoto" %>	
				
		<p id="more">Cuando no estoy desarrollando un sitio web, me gusta mucho aprender idiomas, quedar con mis amigos, leer algún libro (mi favorito es <em>El Ocho</em>). 
		También me gusta ver películas y series, y planear el siguiente viaje... ¡me encanta viajar!
		</p>
		
		<p class="more">Si quieres saber más detalles académicos y otros, puedes<a class="link" target ="_blank" href="/assets/docs/CurriculumVitae_HelenaMorenoChacon.pdf"> descargar mi CV</a> o puedes encontrarme en <a target ="_blank" href="http://www.linkedin.com/pub/helena-moreno-chacon/b/361/500/es"><img id="lkdn" src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.gif"  alt="View Helena Moreno Chacon's profile on LinkedIn"></a>.</p>

	</div>
</section>

<p class="shadow"></p>