<section id="findme">
	<div id="findme_content">
	<h1><%=t :findme_section %></h1>	
		<div id="findme_bubble">
			<ul>
				<li><a class="link" target ="_blank" href="http://helenaenred.tumblr.com/">Read my blog</a></li>
				<li><a target ="_blank" href="http://www.linkedin.com/pub/helena-moreno-chacon/b/361/500/es">Read my profile<img id="lkdn" src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.gif"  alt="View Helena Moreno Chacon's profile on LinkedIn"></a></li>
				<li><a class="link" target ="_blank" href="http://twitter.com/helenatxu">Follow me</a></li>
				<li><%= image_tag "/assets/elements/code_web_helena_moreno.png", :id => 'vcard', :alt => t(:vcard) %></li>
			</ul>
		</div>
	</div>
</section>

<p class="line"></p>
