<div class="hello">
<header id="hello">
	
	<hgroup>
		<h1>Hello,</h1>
		<h2>my name is Helena and I am a web designer &amp; developer.</h2>
		<h3>Check out my</h3>
	</hgroup>


</header>


</div>

<%= render 'index' %>
