/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

html, body {
	height: 100%;
	margin: 0px;		
}

html {
	
}

body {
	background: url(/assets/bg/bg_hindi_pattern.png) repeat top left;
	
  	afilter:alpha(opacity=60); 	/* for IE */
  	aopacity:0.6; /* CSS3 standard */
}

body background {
	filter:alpha(opacity=60); 	/* for IE */
  	opacity:0.6; /* CSS3 standard */
}

fieldset, img {
	border: none;
}

ul, ol {
	list-style: none;
}

/*************/

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 146px;
	color: #5fabaf;
	text-shadow: #ffffff 1px 1px 1px;
	text-align: center;
}

#hello {
	margin: 0 auto;
	width: 970px;
	height: 580px;
}

#hello hgroup {
	width: 690px;
	margin: 100px auto 0;
}

#hello h1 {
	display: inline;
	text-align: center;	
}

#hello h2 {
	display: inline;
	font-family: 'Times New Roman', regular;
	font-size: 42px;
	color: #7db6af;
	text-shadow: #ffffff 1px 0px 1px;
	line-height: 150%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#hello h3 {
	font-family: 'Times New Roman', regular;
	font-size: 42px;
	color: #7db6af;
	text-shadow: #ffffff 1px 0px 1px;
	line-height: 150%;
	text-align: center;
	margin-top: 300px;
}