/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

html, body {
	height: 100%;
	margin: 0px;	
	background: url(/assets/bg/bg_hindi_pattern.png) repeat scroll top left;
	
}


fieldset, img {
	border: none;
}

ul, ol {
	list-style: none;
}
