/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

html, body {
	height: 100%;
	margin: 0px;		
}

html {
	
}

body {
	background: url(/assets/bg/bg_hindi_pattern.png) repeat top left;
}


fieldset, img {
	border: none;
}

ul, ol {
	list-style: none;
}

/*************/

h1 {
	font-family: 'Dancing Script', cursive;
	font-style: cursive !important;
	font-size: 10.5em;
	color: #5fabaf;
	text-shadow: #ffffff 1px 1px 1px;
	text-align: center;
}


#hello {
	margin: 0 auto;
	padding-top: 150px;
	width: 970px;
	height: 450px;
}

#hello hgroup {
	width: 580px;
	margin: 100px auto 0;
}

#hello h1 {
	display: inline;
	text-align: center;	
}

#hello h2 {
	display: inline;
	font-family: 'Times New Roman', regular !important;
	font-style: regular !important;
	font-size: 2.5em;
	color: #5fabaf;
	text-shadow: #ffffff 1px 0px 1px;
	line-height: 150%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#hello h3 {
	font-family: 'Times New Roman', regular;
	font-size: 3em;
	color: #7db6af;
	text-shadow: #ffffff 1px 0px 1px;
	line-height: 150%;
	text-align: center;
	margin-top: 300px;
}

.transparency {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(241, 216, 186);
	/* RGBa with 0.8 opacity */
	background: rgba(241, 216, 186, 0.8);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCF1D8BA, endColorstr=#CCF1D8BA);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCF1D8BA, endColorstr=#CCF1D8BA)";
}