// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a#vlb{display:none}

body {
	background: url(/assets/bg/bg_hindi_pattern_white.png) repeat top left;
}


footer {
	background: url(/assets/bg/bg_hindi_pattern_invert.png) repeat top left;
	height: 60px;
	text-align: center;
	font: 400 0.9em/1.22em 'Helvetica Neue Regular', 'HelveticaNeue-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #272523;
	text-shadow: #ffffff 1px 0px 1px;
	padding: 20px;
}

#main_container {
	margin: 0 auto;
	display: block;
	clear: both;
}

#home, #aboutme {
	background: url(/assets/bg/pixel_beige.png) repeat top left;
}

#portfolio, #contact {
	background: url(/assets/bg/pixel_negro.png) repeat top left;
	margin-top: -12px;
	padding: 10px;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 9em;
	text-shadow: #ffffff 1px 1px 1px;
	text-align: center;
}

#hello h1, #aboutme h1 { 
	color: #0f8498;
}

#portfolio, #contact { 
	color: #039c9c;
	/*	color: #5fabaf;*/
}


#hello {
	margin: 0 auto;
}

#hello hgroup, #hello #hgroup {
	width: 610px;
	margin: 0 auto 0;
}

#hello h1 {
	display: inline;
	text-align: center;	
}

#hello h2 {
	display: inline;
	font-family: 'Times New Roman', Times, Georgia, regular;
	font-size: 2.5em;
	color: #0a7182;
	text-shadow: #ffffff 1px 1px 1px;
	text-align: center;
	margin: 0 auto;
}

#hello h3 {
	font-family: 'Times New Roman', regular;
	font-size: 2.5em;
	color: #0a7182;
	text-shadow: #ffffff 1px 1px 1px;
	line-height: 150%;
	text-align: center;	
}

#arrow img {
	margin-top: 20px;	
}


#portfolio {
	display: block;
}

#portfolio img {
/*	width: 400px; */
}

#portfolio h1, #aboutme h1, #contact h1 { 
	margin: 0.3em auto 0.25em;
}

#portfolio h2 { 
	font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 2.1em;
	text-align:center;
	color: #ffffff;
	text-shadow: #000000 3px 3px 3px;
	padding: 7px;
	margin-bottom: 20px;
	border-bottom: 1px solid #61514C;
}

#portfolio h2 a:hover{
	color: #ff006c;
}

#portfolio a { 
	color: #ffffff;
}

#portfolio .h3 { 
	font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400 !important;
	font-size: 1.1em;
	text-align:left;
	/*	color: #b1cac8;*/
	color: #179595;
	text-shadow: #000000 0px 1px 1px;
	margin: 0 auto auto;
}

#portfolio p:hover { 
	color: #fff;
}

#portfolio p { 
	font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:200 !important;
	font-size: 0.95em;	
	text-align: justify;
	color: #CBC4C2;
	line-height:150%;
	padding: 6px;	
}

.projects_list {
	background: none repeat scroll 0 0 #3A2E2B;
	margin: 40px 30px;
	padding: 30px;
	box-shadow: 1px 1px 3px #000000;	
	-webkit-box-shadow: 1px 1px 3px #000000; /* Safari */
	list-style-type: none;
}

.portfolio_container {
	margin-left: auto;
	margin-right: auto;
	width: 1152px;
	display: block;
}

.project_container {
	margin: 2em auto;
	display: block;
}

.tv, .thumbnail {
	display: inline;
	float: left;
}


.thumbnail {
	margin: auto 100px;
	width: 450px;
}

.tv {
	padding: 10px 10px;
	width: 320px;
/*	height: 425px;*/
}

#portfolio .nextproject {
	font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold !important;
	font-size: 0.9em;
	text-align: left;
	color: #179595;
	text-shadow: #000000 0px 1px 1px;
	margin: 0 auto auto;
}

/* Portfolio Bubble  -------------------------- */

#portfolio .bubble {
	position:relative;
	padding:15px;
	margin: 20px 0 10px;
	background:#333;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	box-shadow: 1px 1px 0px #251D1B;
	-webkit-box-shadow: 1px 1px 0px #251D1B; /* Safari */
}

/* creates the triangle */
#portfolio .bubble:after {
	content:"";
	position:absolute;
	top:-30px;
	left:50px;
	border:15px solid transparent;
	border-bottom-color:#333;
	/* reduce the damage in FF3.0 */
	display:block; 
	width:0;
}

#portfolio .bubble strong {
	font-weight: normal !important;
}


/* End of bubbles ---------------------------- */


#aboutme {
	padding: 10px;
}

#aboutme #aboutbox {
	background: url(/assets/elements/about_box.png) no-repeat top left;
	height: 540px;
	width: 640px;
	margin: 45px auto;
	padding: 40px 50px 50px;
}

#aboutme p {
	font: 200 0.99em/1.62em 'Helvetica Neue Regular', 'HelveticaNeue-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: justify;
	color: #52442f;
	text-shadow: white 0px 2px 1px;
}

#aboutme p:hover { 
	text-shadow:white 0px -2px 1px;
}

#aboutme p.eng {
	margin: 0 auto;
	padding: 8px;
	line-height: 175%;
}

#aboutme p.es {
	margin: 0 auto;
	padding: 8px;
	line-height: 160%;
}

#aboutme #more, #aboutme #myphoto {
	display: inline;
	padding: 10px;
}

#aboutme #more {
	float: right;
	margin-right: 20px;
	width: 410px;
	line-height:190%;
}

#aboutme #myphoto {
	width:140px;
}

#aboutme #lkdn {
	width: 150px;
	border: 0 !important;
}


#aboutme a:link, #footer a:link {
	color:#179595;
}

#aboutme a:visited, #footer a:visited {
	color:#179595;
}

#aboutme a:hover, #footer a:hover {
	color:#ff006c;
/*	color:#6600cc;*/
}

/* Contact form */

#contact {
/*	height: 625px;*/
	margin-left: auto;
	margin-right: auto;
}

/* Bubble of sticky bubble --------- */

#stickybubble {
	padding: 5px 15px;
	margin: 0.3em 2.1em 1em;
	float: left;
	position: relative;
	width: 205px;
	border: outset 2px #039c9c;
	background: #039c9c; 
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;

	box-shadow: 0px 3px 3px #000;
	-webkit-box-shadow: 0px 3px 3px #000;
}

#stickybubble strong {
	
}

#stickybubble h2 {
	padding: 5px;
	font: 1.1em "Helvetica Neue Regular","HelveticaNeue-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: italic;
	color: white;
	text-align: center;	
	text-shadow: 1px 1px 1px black;
}

#contact_content {
	margin: 1.5em auto 0.5em;
	width: 960px;
	height: 550px;
	display: block;
}

#getintouch, #contact_form, #findme_content {
	display: inline;
	float: left;
}

/* Contact Bubble  -------------------------- */

#textbubble {
	width: 185px;
	height: 310px;
	margin: 1em 2.1em 1em;
	border: 4px dotted #2f2726;
	padding: 15px 25px;
	position:relative;
	
	color:#fff;
	background: #3A2E2B;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;

	box-shadow: 0px 3px 3px #000;
	-webkit-box-shadow: 0px 3px 3px #000;
}

#textbubble h2 { 
	font: italic 400 1.3em/1.9em 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align:left;
	color: #179595;
	text-shadow: #000000 0px 1px 1px;
	margin: 0 auto 15px;
	border-bottom: 1px solid #CBC4C2;
}

#textbubble p {
	font: 200 0.95em/1.52em "Helvetica Neue Light","HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #CBC4C2;
	text-align: justify;
	text-shadow: #000 1px 1px 1px;
	margin: 15px auto;
}

#textbubble p:hover { 
	color: #fff;
}


#contact_form {
	background: url(/assets/elements/contactbox2.png) no-repeat top left;
	margin: 0.5em auto 1em;
	padding: 20px 45px 30px;
	width: 540px;
	height: 310px;
}

#contact_form h2 {
	font: 400 1.3em/1.9em 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: italic;
	color: #52442F;	
	text-align:left;
	text-shadow: #FFFFFF 1px 1px 1px;
}
#contact_form p {
	font: 200 1em/1.62em 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #179595;	
	text-align: left;
	margin: 0px auto 5px;
}

#contact_form #error_explanation #explanation {
	color: #52442F;
	font-style: italic;
}

#contact_form #error_explanation p {
	font: 200 0.9em 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
/*	color: #60C;*/	
	color: #ff006c;
	text-align: left;
	margin: 0px auto 5px;
}

#contact_form .field_with_errors label {
	font: 200 1em/1.62em 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #179595;	
	text-align: left;
	margin: 0px auto 5px;
}

#contact_form .field_with_errors input, #contact_form .field_with_errors textarea, {
	border: dotted 1px #ff006c;
}

#contact_form .field_with_errors textarea {
	height: 50px;
}

#contact_form input {
/*	background-color: #ede8e0; */
width: 517px;
}


#contact_form textarea {
	margin: 0 auto 10px;
	width: 520px;
	height: 65px;
}

#contact_form .notice {
	font-style: italic;
	color:#ff006c;	
	text-shadow: white 1px 1px 0px;
	float: right;
	padding-right: 20px;
	font-size: 0.95em;
}


/* ---------- Find me section ---------*/

#contact #findme_content{
	margin: 0 auto 2em;
	display: block;
/*	border: dotted red 1px;*/
/*    width: 45em;*/
}

#contact #findme_content #findme_bubble {
	height: 3em;
	width: 34em;
	border: 4px dotted #2f2726;
	padding: 5px 25px;
	margin-left: 20px;
	color:#fff;
	background: #3A2E2B;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;

	box-shadow: 0px 3px 3px #000;
	-webkit-box-shadow: 0px 3px 3px #000;
}

#contact #findme_content h2 { 
	font: italic 400 1.2em/1.0em 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float:left;
	color: #179595;
	text-shadow: #000000 0px 1px 1px;
	padding: 15px;
}

#contact #findme_bubble ul {
	padding: 0;
	float: right;
}

#contact #findme_bubble h2, #findme_bubble li {
	display: inline;
}

#contact #findme_bubble li a {
	float:left;
	padding: 0 5px;
}

#contact #findme_bubble li a:hover {
	margin-top:-4px;
	padding-bottom:14px;
}



/* Some elements ----------------------------- */

#vcard {
	display: block;
	width: 6.99em;
	margin: -20px 5px;
	float: right;
}

.notices {
	float:right;
	font-size:90%;
	color: green;
	margin: 5px 20px 0 0;
}

.shadow {
	background: url(/assets/bg/shadow.png) repeat-x top left;
	height: 12px;
}

.shadow_up {
	background: url(/assets/bg/shadow_up.png) repeat-x top left;
	height: 12px;
	margin-top: -12px;
}

.line {
	background: url(/assets/bg/line.png) repeat-x top left;
	margin-top: -1px;
	height: 2px;
}


#logo {
	height: 103px;
	width: 260px;
	display: block;
}

.clear {
	clear:both;
}
/* Nav bar menu */

#nav_bar a:link {
	color: #272522;
}


#nav_bar a:visited {
	color: #272522;
}

#nav_bar a:hover {
	color: #ff006c;
	text-shadow: #000000 1px 1px 0px;
}


#navigation{
	background: url(/assets/elements/bg_menu.png) no-repeat top left;
	height: 34px;
	width: 638px;
	text-align: center;
	margin: 0 10px 0px auto;
	position: fixed;
	right: 10px;
}


#navigation li{
	width: 132px;
	display: block;
	float: left;
	padding: 8px 0;
	font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	text-shadow: #ffffff 1px 1px 0px;
}

#navigation #lang_menu {
	padding: 1px 0;
	width: 104px;
}

#navigation #lang_menu li {
	width: 104px;
	float: none;
	padding: 1px 0;
	font-size: 0.8em;
}

/* Buttons ----------------------------------- */

#contact .button:hover {
	display: block;
	cursor: pointer !important;
}
	
#contact .button input {
	display: block;
	
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;

	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	box-shadow:0 1px 0 rgba(0,0,0,0.3);

	background: -moz-linear-gradient(19% 75% 90deg, #E0E0E0, #FAFAFA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E0E0E0));

	font: 400 0.94em/1.62em "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#4A4A4A;
	float:right;
	width: 100px !important;
	padding: 0 20px;
	margin: -12px 20px;
	text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7);
}

#contact .button input :hover {
	cursor: pointer !important;
	background: -moz-linear-gradient(19% 75% 90deg,#D6D6D6, #FAFAFA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#D6D6D6));
	color: #ff006c !important;
}

#portfolio .button {
	margin: 10px;
}

#portfolio .button a {
	background: url(/assets/elements/button_sprite_blue.png) no-repeat 0 0;
	color: white;
	cursor: pointer;
	display: block;
	font-size: 1.1em;
	height: 38px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	width: 132px;
}

#portfolio .button a:hover {
	background-position: -1px -39px;
	cursor: pointer !important; 
	color: #ff006c;
	text-shadow: 1px 1px 0px #000;
}


/* Roundabut CSS  ----------------------------------- */ 



.button_prev {
	float: left;
	margin: -11em auto auto -2.5em;
}

.button_next {
	float: right;
	margin: -11em -3.5em auto auto;
}

.button_thumb {
	z-index: 500;
	position: relative;
	padding: 10px 15px !important;
	background: #42C2C2;
	font-size: 1.05em !important;
	font-weight: bold !important;
	line-height: 100% !important;
	color:#fff !important;
	text-align: center !important;
	
	/* css3 */
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;

/*	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	box-shadow:0 1px 0 rgba(0,0,0,0.3);*/
	
	-moz-box-shadow: 0px 1px 1px #000;
	-webkit-box-shadow: 0px 1px 1px #000;
	box-shadow: 0px 1px 1px #000;
	
	
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(1, #42C2C2),
	    color-stop(0.5, #32A8A8),
	    color-stop(0, #6DD1D1)
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    #42C2C2 100%,
	    #32A8A8 50%,
	    #6DD1D1 0%
	);

/*	background: -moz-linear-gradient(19% 75% 90deg, #E0E0E0, #039c9c);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#039c9c));*/
}