// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background: url(/assets/bg/bg_hindi_pattern_white.png) repeat top left;
}



h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 9em;
	color: #5fabaf;
	text-shadow: #ffffff 1px 1px 1px;
	text-align: center;
}


#hello {
	margin: 0 auto;
	padding-top: -30px;
	width: 970px;
/*	height: 430px; */
}

#hello hgroup {
	width: 650px;
	margin: 0 auto 0;
}

#hello h1 {
	display: inline;
	text-align: center;	
}

#hello h2 {
	display: inline;
	font-family: 'Times New Roman', regular;
	font-size: 2.5em;
	color: #5fabaf;
	text-shadow: #ffffff 1px 1px 1px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#hello h3 {
	font-family: 'Times New Roman', regular;
	font-size: 2.5em;
	color: #5fabaf;
	text-shadow: #ffffff 1px 1px 1px;
	line-height: 150%;
	text-align: center;	
}

#arrow img {
	margin-top: 20px;	
}

.home, .aboutme {
	background: url(/assets/bg/pixel_beige4.png) repeat top left;
	z-index: 1;
}

.portfolio {
	background: url(/assets/bg/pixel_negro.png) repeat top left;
	margin-top: -12px;
	padding: 10px;
	z-index: -1;
}


.portfolio img {
	width: 400px;
}


.portfolio h1 { 
	margin: 10px auto 60px;
}
	
.portfolio h2 { 
	font-family: 'Lobster Two', italic;
	font-style: italic;
	font-size: 3em;
	text-align:center;
	color: #ffffff;
	text-shadow: #000000 3px 3px 3px;
	margin: 0px auto 6px;
}

.portfolio a { 
	color: #ffffff;
}


.portfolio h3 { 
	font-family: 'Lobster Two', bold;
	font-style: bold;
	font-size: 1.5em;
	text-align:left;
	color: #b1cac8;
	text-shadow: #000000 1px 1px 1px;
	margin: 12px auto auto;
}

.portfolio p { 
	font-family: 'Delius', regular;
	font-style: normal;
	font-size: 0.97em;
	text-align:left;
	color: #73aba7;
	margin: 4px auto 6px;
}


.container {
	margin: 25px;
	padding: 5px 80px 5px;
}

.container .tv {
	background: url(/assets/bg/bg_tv.png) no-repeat;
	width: 360px;
	height: 220px;
	padding: 10px 60px 40px 30px;
}

.container .image {
	padding: 20px;
	display: inline;
	float: right;
	margin: -1.5em 10px 5px auto;
}

.shadow {
	background: url(/assets/bg/shadow.png) repeat-x top left;
	height: 12px;
}

.shadow_up {
	background: url(/assets/bg/shadow_up.png) repeat-x top left;
	height: 12px;
	margin-top: -12px;
}


#logo {
	background: url(/assets/elements/logo.png) no-repeat top left;
	height: 103px;
}

.aboutme {
	padding: 10px;
}

a.link:hover {
	color:#73aba7;
}