// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	height: 100%;
	margin: 0px;
/*	background-image:url('/images/bg/bg_hindi_pattern.png'); */
	background-image: url(assets/images/rails.png) no-repeat scroll top left;
	
/*	background-repeat: repeat-x; */
}