// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portfolio_admin{
	border: solid 1px #FF5E99;
	background: url(/assets/bg/bg_brown2.png) repeat;
	
}


.portfolio_admin a { 
	color: #ffffff;
}


.portfolio_admin th { 
	font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1em;
	text-align:left;
	color: #b1cac8;
	text-shadow: #000000 1px 1px 1px;
	margin: 0 auto auto;
}

.portfolio_admin td { 
	font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:200 !important;
	font-size: 1em;
	text-align:left;
	color: #179595;
	margin: auto auto 6px;
	line-height:135%;
	padding: 6px;	
}

.portfolio_admin img { 
	width: 100px !important;
}

.portfolio_admin .description {
	width: 200px;
}
